dsauer_webpage/src/conf/xml-resources/web-service-references/prognoze/wsdl/localhost_8084/dsauer_prognoze/prognoze.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="prognozeService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8084/dsauer_prognoze/prognoze?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="cityWeather">
<part name="parameters" element="tns:cityWeather"></part>
</message>
<message name="cityWeatherResponse">
<part name="parameters" element="tns:cityWeatherResponse"></part>
</message>
<message name="searchCity">
<part name="parameters" element="tns:searchCity"></part>
</message>
<message name="searchCityResponse">
<part name="parameters" element="tns:searchCityResponse"></part>
</message>
<message name="listCityArchive">
<part name="parameters" element="tns:listCityArchive"></part>
</message>
<message name="listCityArchiveResponse">
<part name="parameters" element="tns:listCityArchiveResponse"></part>
</message>
<message name="cityInfo">
<part name="parameters" element="tns:cityInfo"></part>
</message>
<message name="cityInfoResponse">
<part name="parameters" element="tns:cityInfoResponse"></part>
</message>
<portType name="prognoze">
<operation name="cityWeather">
<input message="tns:cityWeather"></input>
<output message="tns:cityWeatherResponse"></output>
</operation>
<operation name="searchCity">
<input message="tns:searchCity"></input>
<output message="tns:searchCityResponse"></output>
</operation>
<operation name="listCityArchive">
<input message="tns:listCityArchive"></input>
<output message="tns:listCityArchiveResponse"></output>
</operation>
<operation name="cityInfo">
<input message="tns:cityInfo"></input>
<output message="tns:cityInfoResponse"></output>
</operation>
</portType>
<binding name="prognozePortBinding" type="tns:prognoze">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="cityWeather">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="searchCity">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="listCityArchive">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="cityInfo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="prognozeService">
<port name="prognozePort" binding="tns:prognozePortBinding">
<soap:address location="http://localhost:8084/dsauer_prognoze/prognoze"></soap:address>
</port>
</service>
</definitions>