dsauer_webpage/src/conf/xml-resources/web-service-references/korisnici/wsdl/localhost_8443/dsauer_korisnici/korisnici.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="korisniciService">
<ns1:Policy xmlns:ns1="http://www.w3.org/ns/ws-policy" wsu:Id="korisniciPortBindingPolicy">
<ns1:ExactlyOne>
<ns1:All>
<ns2:TransportBinding xmlns:ns2="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
<ns1:Policy>
<ns1:ExactlyOne>
<ns1:All>
<ns2:AlgorithmSuite>
<ns1:Policy>
<ns1:ExactlyOne>
<ns1:All>
<ns2:Basic128Sha256 />
</ns1:All>
</ns1:ExactlyOne>
</ns1:Policy>
</ns2:AlgorithmSuite>
<ns2:IncludeTimestamp />
<ns2:Layout>
<ns1:Policy>
<ns1:ExactlyOne>
<ns1:All>
<ns2:Lax />
</ns1:All>
</ns1:ExactlyOne>
</ns1:Policy>
</ns2:Layout>
<ns2:TransportToken>
<ns1:Policy>
<ns1:ExactlyOne>
<ns1:All>
<ns2:HttpsToken RequireClientCertificate="false" />
</ns1:All>
</ns1:ExactlyOne>
</ns1:Policy>
</ns2:TransportToken>
</ns1:All>
</ns1:ExactlyOne>
</ns1:Policy>
</ns2:TransportBinding>
<ns3:Wss10 xmlns:ns3="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" />
<ns4:Addressing xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns1:Optional="true" />
</ns1:All>
</ns1:ExactlyOne>
</ns1:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="https://localhost:8443/dsauer_korisnici/korisnici?xsd=1" />
</xsd:schema>
</types>
<message name="userAutentification">
<part name="parameters" element="tns:userAutentification" />
</message>
<message name="userAutentificationResponse">
<part name="parameters" element="tns:userAutentificationResponse" />
</message>
<message name="registerUser">
<part name="parameters" element="tns:registerUser" />
</message>
<message name="registerUserResponse">
<part name="parameters" element="tns:registerUserResponse" />
</message>
<message name="changeUserProperties">
<part name="parameters" element="tns:changeUserProperties" />
</message>
<message name="changeUserPropertiesResponse">
<part name="parameters" element="tns:changeUserPropertiesResponse" />
</message>
<portType name="korisnici">
<operation name="userAutentification">
<input message="tns:userAutentification" />
<output message="tns:userAutentificationResponse" />
</operation>
<operation name="registerUser">
<input message="tns:registerUser" />
<output message="tns:registerUserResponse" />
</operation>
<operation name="changeUserProperties">
<input message="tns:changeUserProperties" />
<output message="tns:changeUserPropertiesResponse" />
</operation>
</portType>
<binding name="korisniciPortBinding" type="tns:korisnici">
<ns5:PolicyReference xmlns:ns5="http://www.w3.org/ns/ws-policy" URI="#korisniciPortBindingPolicy" />
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="userAutentification">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="registerUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="changeUserProperties">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="korisniciService">
<port name="korisniciPort" binding="tns:korisniciPortBinding">
<soap:address location="https://localhost:8443/dsauer_korisnici/korisnici" />
</port>
</service>
</definitions>